.single__head {
  padding: 140px 0 100px 0;
}
.single__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.single__title {
  font-family: "RF Dewi Expanded";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 50px */
}
.single__subtitle {
  color: #878786;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%; /* 28px */
  margin: 30px 0 60px 0;
}
.single__imgs {
  display: flex;
  width: calc(100% + 20px);
  margin: 0 0 0 -10px;
}
.single__img {
  width: 266px;
  height: 435px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 10px;
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  &:first-child {
    width: 768px;
  }
}
.single__items {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 20px);
  margin: 30px 0 0 -10px;
}
.single__item {
  border-radius: 15px;
  background: #FFF;
  width: calc(33.3% - 20px);
  margin: 0 10px;
  padding: 16px 22px 27px 22px;
  color: $text;
  position: relative;
}
.single__item-number {
  color: #000;
  font-family: "RF Dewi Expanded";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 50.4px */
}
.single__item-text {
  color: #121212;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%; /* 28px */
  margin: 10px 0 0 5px;
}
.single__item-abs {
  position: absolute;
  top: 10px;
  right: 10px;
}
.single__item-abs.text {
  border-radius: 100px;
  background: #E84E0E;
  color: #FFF;
  font-size: 13px;
  padding: 9px 15px;
  text-transform: uppercase;
}
.complecs {
  padding: 20px 0 100px 0;
}
.complecs__title-main {
  margin-bottom: 50px;
}
.range__wrapper {
  border-radius: 20px;
  background: radial-gradient(89.93% 216.99% at 19.37% 17.2%, rgba(232, 78, 14, 0.40) 0%, #121212 96%);
  padding: 2px;
  position: relative;
  margin-bottom: 50px;
}
.range__title-wrapper {
  display: none;
}
.range__content {
  border-radius: 20px;
  background: #121212;
  padding: 50px;
}
.range__items {
  display: flex;
  align-items: center;

}
.range__item {
  position: relative;
  min-width: 300px;
  margin-right: 50px;
}
.range__item-info {
  label {
    color: #878786;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
  }
  input {
    position: absolute;
    left: 0;
    top: 60%;
    border: none;
    background: transparent;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    width: 100%;
  }
}
.ui-slider {
  margin-top: 60px;
}
.ui-slider-horizontal {
  height: 2px!important;
  border-radius: 10px!important;
  background: #292A2E!important;
  border: none!important;
}
.ui-widget-header {
  background: #EE9B79!important;
}
.ui-slider .ui-slider-handle {
  width: 14px!important;
  height: 14px!important;
  border-radius: 100px!important;
  background: $accent!important;
  border: none!important;
  cursor: grab!important;
}
.ui-state-hover:focus, .ui-widget-content .ui-state-hover:focus, .ui-widget-header .ui-state-hover:focus, .ui-state-focus:focus, .ui-widget-content .ui-state-focus:focus, .ui-widget-header .ui-state-focus:focus, .ui-button:hover, .ui-button:focus {
  border: none!important;
}
.range__room-title {
  color: #878786;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 28px;
}
.range__room-row {
  display: flex;
}
.range__room-item {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #292A2E;
  margin-right: 10px;
  cursor: pointer;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  transition: all 0.5s ease;
}
.range__room-item.active {
  background: $accent;
  transition: all 0.5s ease;
}
.complecs__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: flex-start;
  &:last-child {
    margin-bottom: 0;
  }
}
.complecs__slider-main {
  max-width: 440px;
  position: relative;
}
.complecs__slider {
  overflow: hidden;
}
.complecs__slider .swiper-pagination {
  width: 440px!important;
  bottom: 20px!important;
  top: auto!important;
}
.complecs__slider .swiper-pagination .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.6)!important;
  opacity: 1!important;
}
.complecs__slider .swiper-pagination .swiper-pagination-bullet-active {
  background: $accent!important;
}
.complecs__slider-item {
  position: relative;
  cursor: grab;
}
.complecs__slider-abs {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  transition: all 0.5s ease;
  z-index: 10;
  a {
    width: 8px;
    height: 14px;
  }
}
.complecs__slider-img {
  width: 439px;
  height: 496px;
  border-radius: 15px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.complecs__item-info {
  max-width: 870px;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  position: relative;
}
.complecs__abs {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  p {
    color: #E84E0E;
    font-family: "RF Dewi Expanded";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 30.8px */
    margin-right: 16px;
  }
}
.complecs__abs-sale {
  color: #FFF;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 100px;
  background: #E84E0E;
  padding: 9px 15px;
}
.complecs__sale {
  display: none;
}
.complecs__title {
  color: $text;
  font-family: "RF Dewi Expanded";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 44.8px */
}
.complecs__adress {
  color: rgba(18, 18, 18, 0.60);
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0 24px 0;
}
.complecs__descriptiopn {
  color: $text;
  font-size: 22px;
  line-height: 140%; /* 30.8px */
}
.complecs__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 69px 0 35px 0;
  color: $text;
  font-size: 22px;
  & span {
    color: $accent;
  }
  & b {
    font-weight: 400;
    font-size: 28px;
  }
}
.complecs__btns {
  display: flex;
  align-items: center;
}
.pres__btn {
  display: flex;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #EE9B79;
  background: #FFF;
  padding: 0 24px;
  height: 47px;
  margin-right: 22px;
  transition: all 0.5s ease;
  p {
    color: #EE9B79;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 3px 10px;
    transition: all 0.5s ease;
  }
  svg path {
    transition: all 0.5s ease;
  }
}
.complecs__btn {
  display: flex;
  align-items: center;
  border-radius: 100px;
  background: #121212;
  height: 47px;
  padding: 0 24px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid transparent;
  transition: all 0.5s ease;
}
.complecs__btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.complecs__btn-main {
  cursor: pointer;
}

@media only screen and (max-width: 1360px) {
  .complecs__item-info {
    max-width: 730px;
  }
}
@media only screen and (max-width: 1230px) {
  .complecs__slider-main {
    max-width: 370px;
  }
  .complecs__slider .swiper-pagination {
    width: 370px!important;
  }
  .complecs__slider-img {
    width: 370px;
    height: 470px;
  }
  .complecs__item {
    margin-bottom: 30px;
  }
  .complecs__item-info {
    margin-left: 20px;
  }
  .complecs__info {
    flex-wrap: wrap;
    margin: 30px 0;
  }
  .complecs__credit {
    margin-top: 10px;
  }
  .complecs__descriptiopn {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1130px) {
  .single__head {
    padding: 127px 0 50px 0;
  }
  .complecs {
    padding: 20px 0 70px 0;
  }
  .complecs__items {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 50px);
    margin: 0 0 0 -12px;
  }
  .complecs__item {
    flex-direction: column;
    width: calc(50% - 50px);
    margin: 0 12px 25px 13px;
  }
  .complecs__item-info {
    margin: 15px 0 0 0;
    padding: 20px 15px 25px 15px;
  }
  .complecs__slider-main {
    max-width: 350px;
  }
  .complecs__slider .swiper-pagination {
    width: 350px!important;
  }
  .complecs__slider-abs {
    display: none;
  }
  .complecs__slider-img {
    width: 350px;
    height: 260px;
  }
  .complecs__title {
    font-size: 20px;
  }
  .complecs__adress {
    font-size: 12px;
    margin: 8px 0 20px 0;
  }
  .complecs__descriptiopn {
    font-size: 14px;
    max-height: 60px;
    overflow: hidden;
  }
  .complecs__info {
    margin: 25px 0 30px 0;
    font-size: 14px;
    b {
      font-size: 16px;
    }
  }
  .complecs__abs {
    display: none;
  }
  .complecs__sale {
    display: flex;
    margin-top: 10px;
    align-items: center;
    p {
      font-size: 16px;
      margin-right: 10px;
      color: $accent;
    }
  }
  .complecs__abs-sale {
    font-size: 10px;
    padding: 5px 14px;
  }
  .complecs__btns {
    flex-direction: column;
    align-items: stretch;
  }
  .pres__btn {
    margin: 0 0 10px 0;
    justify-content: center;
  }
  .complecs__btn {
    justify-content: center;
  }
  .complecs__btn-wrapper {
    margin-top: 60px;
  }
  .single__imgs {
    width: 100%;
    margin: 0;
  }
  .single__img {
    margin: 0;
    width: 121px;
    height: 243px;
    &:nth-child(2) {
      margin: 0 10px;
    }
    &:first-child {
      width: 488px;
    }
  }
  .single__btn {
    display: none;
  }
  .single__title-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .single__title {
    font-size: 36px;
    margin-bottom: 0;
  }
  .single__item-text {
    font-size: 16px;
    margin: 10px 0 0 0;
  }
  .single__subtitle {
    margin: 15px 0 30px 0;
    font-size: 18px;
  }
  .single__items {
    margin: 20px 0 0 -6px;
  }
  .single__item {
    width: calc(33.3% - 12px);
    padding: 15px;
    margin: 0 6px;
  }
  .single__item-abs.text {
    font-size: 11px;
    padding: 3px 11px;
  }
  .range__content {
    padding: 35px 30px;
  }
  .range__wrapper {
    margin-bottom: 40px;
  }
  .range__items {
    flex-wrap: wrap;
  }
  .range__item {
    width: calc(50% - 15px);
    min-width: 100px;
    margin-right: 0;

    &:first-child {
      margin-right: 30px;
    }
  }
  .range__room {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 750px) {
  .single__title {
    font-size: 26px;
  }
  .single__title-wrapper {
    margin: 0;
  }
  .single__subtitle {
    margin: 20px 0 30px 0;
    font-size: 18px;
  }
  .single__img {
    height: 230px;
    margin: 0;
    &:nth-child(2) {
      margin: 0 10px;
    }
  }
  .single__imgs {
    width: 100%;
    margin: 0;
  }
  .single__img:first-child {
    width: 66%;
    border-radius: 10px;
  }
  .single__img:nth-child(2) {
    width: 17%;
    border-radius: 10px;
  }
  .single__img:nth-child(3) {
    width: 17%;
    border-radius: 10px;
  }
  .single__items {
    width: 100%;
    margin: 20px 0 0 0;
    flex-wrap: wrap;
  }
  .single__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 13px 15px;
    &:last-child {
      margin: 0;
    }
  }
  .single__item-text {
    font-size: 14px;
    margin: 0;
  }
  .single__item-number {
    font-size: 22px;
    min-width: 75px;
  }
  .single__item-abs.text {
    top: calc(50% - 10px)
  }
  .single__item-abs.img {
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .complecs__title-main {
    margin-bottom: 20px;
  }
  .complecs__items {
    width: 100%;
    margin: 0;
  }
  .complecs__slider-img {
    height: 255px;
  }
  .complecs__slider-abs {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  .complecs__item-info {
    margin: 15px 0 0 0;
  }
  .complecs__item {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .complecs__title {
    font-size: 20px;
  }
  .complecs__adress {
    font-size: 12px;
    margin: 8px 0 20px 0;
  }
  .complecs__descriptiopn {
    font-size: 14px;
  }
  .complecs__abs {
    top: 10px;
    right: 10px;
  }
  .complecs__info {
    margin: 20px 0 35px 0;
  }
  .complecs__metri {
    margin: 10px 0;
  }
  .complecs__btns {
    flex-direction: column;
  }
  .pres__btn {
    margin: 0 0 15px 0;
    width: 100%;
    justify-content: center;
  }
  .complecs__btn {
    width: 100%;
    justify-content: center;
  }
  .range__wrapper {
    margin-bottom: 30px;
  }
  .range__content {
    padding: 15px 18px;
  }
  .range__content.active .range__items{
    max-height: 350px;
    overflow: visible;
    transition: all 0.5s ease;
    padding: 30px 0 15px 0;
  }
  .range__content.active .range__title-svg {
    svg {
      transform: rotate(180deg);
      transition: all 0.5s ease;
      path {
        fill: $accent;
      }
    }
  }
  .range__title-svg svg {
    transition: all 0.5s ease;
  }
  .range__items {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    
  }
  .range__item {
    width: 100%;
    &:first-child {
      margin: 0 0 40px 0;
    }
  }
  .range__item-info label, .range__room-title {
    font-size: 16px;
  }
  .ui-slider {
    margin-top: 40px;
  }
  .range__item-info input {
    top: 44%;
  }
  .range__room-title {
    margin-bottom: 20px;
  }
  .range__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .range__title {
    color: rgba(255, 255, 255, 0.65);
    font-family: "RF Dewi Expanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 22.4px */
  }
  .range__title-svg {
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}